@model TrashCollector.ViewModels.CustomerUsersIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upcoming Pick-Ups</h2>

<p>
    @Html.ActionLink("Add A Pick-Up", "Create", "PickUps", Model.Customer.CustomerId, null)
</p>
<table class="table">
    <tr>
        <th>
            Pick-Up Day
        </th>
        <th>
            Pick-Up Date
        </th>
        <th>
            Start Date
        </th>
        <th>
            End date
        </th>
        <th>
            Recurring
        </th>
    </tr>

    @foreach (var pickup in Model)
    {
    <tr>
        <td>
            @pickup.PickUpDay
        </td>
        <td>
            @pickup.PickUpDate.ToString("MM/dd/yy")
        </td>
        <td>
            @pickup.StartDate.ToString("MM/dd/yy")
        </td>
        <td>
            @pickup.EndDate.ToString("MM/dd/yy")
        </td>
        <td>
            @pickup.Recurring
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "PickUps", new { id = pickup.PickUpId }, null) |
            @Html.ActionLink("Details", "Details", "PickUps", new { id = pickup.PickUpId }, null) |
            @Html.ActionLink("Delete", "Delete", "PickUps", new { id = pickup.PickUpId }, null)
        </td>
    </tr>
    }

</table>

