@model TrashCollector.ViewModels.BillingIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Billing - @Model.Customer.FirstName @Model.Customer.LastName </h2 >

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            Pick-Up Date
        </th>
        <th>
            Fee
        </th>
        <th>
            Paid
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.PickUpDate.ToString("MM/dd/yy")
            </td>
            <td>
                @item.Fee
            </td>
            <td>
                @item.Paid
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.TransactionId })

            </td>
        </tr>
    }

</table>
