@using TrashCollector.Models;

@model TrashCollector.ViewModels.EmployeeUsersCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Account Registration</h2>
<h4>Please Review Before Submitting</h4>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>EmployeeUsers</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
<div>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Employee.FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Employee.FirstName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Employee.LastName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Employee.LastName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AppUser.StreetAddress)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AppUser.StreetAddress)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AppUser.City)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AppUser.City)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.AppUser.Zipcode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AppUser.Zipcode)
    </dd>

</dl>
</div>
<div class="col-md-offset-2 col-md-10">
    <div class="btn btn-primary btn-large">
        @Html.ActionLink("SUBMIT", "Index", "EmployeeUsers", Model.Employee.EmployeeId, null)
    </div>
    @Html.ActionLink("Edit", "Edit", "EmployeeUsers", Model.Employee.EmployeeId, new { @class = "btn btn-link" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
