@using TrashCollector.Models;

@model IEnumerable<TrashCollector.Models.PickUps>

@{
    ViewBag.Title = "Index";
}

<h2>Today's Pick-ups In Your Zipcode</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


<table class="table">
    <tr>
        <th>
            Street Address
        </th>
        <th>
            Pick-Up Day
        </th>
        <th>
            Pick-Up Start Date
        </th>
        <th>
            PIck-Up End Date
        </th>
        <th>
            Completed
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.StreetAddress
        </td>
        <td>
            @item.PickUpDay
        </td>
        <td>
            @item.StartDate.ToString("MM/dd/yy")
        </td>
        <td>
            @item.EndDate.ToString("MM/dd/yy")
        </td>
        <td>
            @item.Completed
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "PickUps", new { id = item.PickUpId }, null) |
            @Html.ActionLink("Details", "Details", "PickUps", new { id = item.PickUpId }, null) |
            @Html.ActionLink("Delete", "Delete", "PickUps", new { id = item.PickUpId }, null)
        </td>
    </tr>
    }
</table>



    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.StreetAddress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.EmployeeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId })
                </td>
            </tr>
        }

        </table>*@
