@using TrashCollector.Models;

@model IEnumerable<TrashCollector.Models.PickUps>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Street Address
        </th>
        <th>
           Pick-Up Day
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Recurring
        </th>
        <th>
            Completed
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.StreetAddress
            </td>
            <td>
                @item.PickUpDay
            </td>
            <td>
                @item.StartDate.ToString("MM/dd/yy")
            </td>
            <td>
                @item.EndDate.ToString("MM/dd/yy")
            </td>
            <td>
                @item.Recurring
            </td>
            <td>
                @item.Completed
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PickUpId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PickUpId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PickUpId })
            </td>
        </tr>
    }

</table>
