@using TrashCollector.Models;

@model IEnumerable<TrashCollector.Models.PickUps>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            Recurring
        </th>
        <th>
            Completed
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @item.Recurring
            </td>
            <td>
                @item.Completed
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PickUpId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PickUpId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PickUpId })
            </td>
        </tr>
    }

</table>
